@page "{PageType:alpha}/{TransferRequestId:min(1)?}"
@using NewAgePOS.ViewModels
@model NewAgePOS.Pages.Transfer.ProductsModel
@{
  string titleSuffix = Model.PageType == TransferPageTypeEnum.Single ? "Single" : Model.PageType == TransferPageTypeEnum.Batch ? "Batch" : "Review";
  ViewData["Title"] = $"Transfer { titleSuffix }";
}

@functions{
  void GenerateProductInfo(LocationSearchViewModel product)
  {
    <div class="row mt-3">
      <div class="col pr-0">
        <input value="@product.Sku" class="form-control" readonly>
      </div>
      <div class="col pl-0">
        <input value="@product.Upc" class="form-control" readonly>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="form-control m-0" style="height: auto; background-color: #e9ecef;">@product.AllName</p>
      </div>
    </div>
    <div class="row">
      <div class="col pr-0">
        <input value="@product.Cost.ToString("C2")" class="form-control" readonly />
      </div>
      <div class="col pl-0">
        <input value="@product.Price.ToString("C2")" class="form-control" readonly />
      </div>
    </div>
  }

  void GenerateLocationInfo(ProductLocationModel location)
  {
    <div class="col-6 pr-0">
      <input value="@location.Location" readonly
             class="form-control border-secondary"
             style="background-color: #ADD8E6;">
    </div>
    <div class="col pl-0">
      <input value="@location.Qty" readonly
             class="form-control border-secondary"
             style="background-color: #ADD8E6;">
    </div>
  }
}

@if (Model.PageType != TransferPageTypeEnum.Review)
{
  <partial name="_HeaderPartial" model="0" />
}
else
{
  <partial name="_HeaderPartial" model="Model.TransferRequestId" />
}

<div class="mb-5">
  @if (Model.PageType != TransferPageTypeEnum.Review)
  {
    <form method="get" asp-page-handler="Search">
      <div class="form-group">
        <label asp-for="Codes"></label>
        <textarea asp-for="Codes" class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  }
  else
  {
    <div class="form-row">
      <h5 class="m-auto">Description: @Model.TransferRequest.Description</h5>
    </div>
    <div class="form-row">
      <h5 class="m-auto">Requester: @Model.TransferRequest.CreatorName</h5>
    </div>
    <div class="form-row">
      <h5 class="m-auto">Status: @Model.TransferRequest.Status.ToString()</h5>
    </div>
  }
</div>

@if (Model.ViewModels == null || !Model.ViewModels.Any()) { }
else if (Model.PageType == TransferPageTypeEnum.Single)
{
  @foreach (var result in Model.ViewModels)
  {
    GenerateProductInfo(result);

    @foreach (var loc in result.Locations)
    {
      string id = $"{ loc.Code }_{ loc.Location }";

      <div class="row">
        @{GenerateLocationInfo(loc);}
        <div class="col-auto pl-0">
          @if (loc.Location != "STORE")
          {
            <a id="@(id + " Btn")" class="btn btn-primary" onclick="confirm(this.id)">
              <i class="fas fa-dolly"></i>
            </a>
          }
          else
          {
            <button disabled class="btn btn-dark">
              <i class="fas fa-dolly"></i>
            </button>
          }
        </div>
      </div>

      @if (loc.Location != "STORE")
      {
        <div id="@id" style="display: none;">
          <form method="post" class="form-inline row"
                asp-page-handler="Transfer"
                asp-route-code="@result.Sku"
                asp-route-location="@loc.Location"
                asp-route-qty="@loc.Qty"
                asp-route-codes="@Model.Codes">
            <div class="col-6 pr-0">
              <input value="Confirm Transfer Quantity" class="form-control text-right" style="width: 100%" />
            </div>
            <div class="col px-0">
              <input name="transferqty" class="form-control" type="number" value="0" style="width: 100%" />
            </div>
            <div class="col-auto px-0">
              <button type="submit" class="btn btn-success">
                <i class="fas fa-check-square"></i>
              </button>
            </div>
            <div class="col-auto pl-0">
              <a class="btn btn-danger" onclick="confirm('@id')">
                <i class="fas fa-window-close"></i>
              </a>
            </div>
          </form>
        </div>
      }
    }
  }
}
else if (Model.PageType == TransferPageTypeEnum.Batch)
{
  int maxDescInputChars = 20;
  int maxNameInputChars = 10;

  <form method="post">
    @for (var i = 0; i < Model.TransferRequestQtys.Count; i++)
    {
      <input asp-for="@Model.TransferRequestQtys[i].Sku" hidden />
      LocationSearchViewModel viewModel = Model.ViewModels.FirstOrDefault(vm => vm.Sku == Model.TransferRequestQtys[i].Sku);

      int whQty = viewModel.Locations.Where(l => l.Location != "STORE").Sum(l => l.Qty);

      GenerateProductInfo(viewModel);

      @for (var y = 0; y < viewModel.Locations.Count; y++)
      {
        <div class="row">
          @{ GenerateLocationInfo(viewModel.Locations[y]); }
        </div>
      }

      @if (whQty > 0)
      {
        <div class="row">
          <div class="col-6 pr-0">
            <input value="Transfer Quantity" class="form-control" readonly />
          </div>
          <div class="col px-0">
            <input asp-for="@Model.TransferRequestQtys[i].Qty" class="form-control" />
          </div>
          <div class="col-1 px-0">
            <input value=" / " class="form-control text-center" readonly />
          </div>
          <div class="col-2 pl-0">
            <input value="@whQty" class="form-control text-center" readonly />
          </div>
        </div>
      }
    }

    @if (Model.PendingTransferRequests.Any())
    {
      <div class="row mt-3">
        <div class="col-6 pr-0">
          <select class="form-control"
                  asp-for="@Model.TransferRequestId"
                  asp-items="@Model.PendingTransferRequests">
            <option value="">---Choose Transfer---</option>
          </select>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary"
                  asp-page-handler="AddItemsToTransferRequest"
                  asp-route-codes="@Model.Codes">
            Add
          </button>
        </div>
      </div>
    }

    <div class="row mt-3">
      <div class="col-6 pr-0">
        <input id="description"
               name="description"
               class="form-control"
               type="text"
               placeholder="Description"
               onkeyup="countChars2Inputs('description', 'creatorName', 'createTransferRequestBtn', @maxDescInputChars, @maxNameInputChars)" />
        <span id="descriptionCountDisplay" class="text-info ml-3">0 / @maxDescInputChars</span>
      </div>
      <div class="col px-0">
        <input id="creatorName"
               name="creatorName"
               class="form-control"
               type="text"
               placeholder="Your Name"
               onkeyup="countChars2Inputs('description', 'creatorName', 'createTransferRequestBtn', @maxDescInputChars, @maxNameInputChars)" />
        <span id="creatorNameCountDisplay" class="text-info ml-3">0 / @maxNameInputChars</span>
      </div>
      <div class="col-auto">
        <button id="createTransferRequestBtn" type="submit" class="btn btn-primary"
                asp-page-handler="CreateTransferRequestAndAddItems"
                asp-route-codes="@Model.Codes">
          Create
        </button>
      </div>
    </div>
  </form>
}
else if (Model.PageType == TransferPageTypeEnum.Review)
{
  int currentStatusCode = (int)Model.TransferRequest.Status;
  int nextStatusCode = ++currentStatusCode;

  <form method="post" class="mb-3">
    @for (var i = 0; i < Model.TransferRequestQtys.Count; i++)
    {
      <input asp-for="@Model.TransferRequestQtys[i].Sku" hidden />
      LocationSearchViewModel viewModel = Model.ViewModels.FirstOrDefault(vm => vm.Sku == Model.TransferRequestQtys[i].Sku);

      int whQty = viewModel.Locations.Where(l => l.Location != "STORE").Sum(l => l.Qty);

      GenerateProductInfo(viewModel);

      @for (var y = 0; y < viewModel.Locations.Count; y++)
      {
        <div class="row">
          @{ GenerateLocationInfo(viewModel.Locations[y]); }
        </div>
      }

      <div class="row">
        <div class="col-6 pr-0">
          <input value="Transfer Quantity" class="form-control" readonly />
        </div>
        <div class="col px-0">
          @if (Model.TransferRequest.Status == StatusEnum.Pending)
          {
            <input asp-for="@Model.TransferRequestQtys[i].Qty" class="form-control" />
          }
          else
          {
            <input readonly value="@Model.TransferRequestQtys[i].Qty" class="form-control" />
          }
        </div>
        <div class="col-1 px-0">
          <input value=" / " class="form-control text-center" readonly />
        </div>
        <div class="col-2 pl-0">
          <input value="@whQty" class="form-control text-center" readonly />
        </div>
      </div>
    }

    @if (Model.TransferRequest.Status == StatusEnum.Pending)
    {
      <button type="submit" asp-page-handler="EditTransferQtys" class="btn btn-primary mt-1">Update Qty</button>
    }
  </form>

  <div class="row">
    @if (Model.TransferRequest.Status == StatusEnum.Pending)
    {
      <div class="col-auto">
        <form method="post"
              asp-page="/Transfer/Search"
              asp-page-handler="DeleteTransferRequest"
              asp-route-id="@Model.TransferRequestId"
              asp-route-description="@Model.TransferRequest.Description">
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </form>
      </div>
    }
    <div class="col-auto">
      <form method="post"
            asp-page="/Transfer/Search"
            asp-page-handler="UpdateStatus"
            asp-route-id="@Model.TransferRequestId"
            asp-route-description="@Model.TransferRequest.Description"
            asp-route-currentStatus="@Model.TransferRequest.Status">
        <button type="submit" class="btn btn-primary">
          Mark As @((StatusEnum)nextStatusCode)
        </button>
      </form>
    </div>
  </div>
}