@page
@model NewAgePOS.Pages.Report.TransactionHistoryModel
@{
  ViewData["Title"] = "Transaction History";
  float totalCheckout = 0, totalRefund = 0, total = 0;
  CultureInfo dollar = new CultureInfo("en-US");
  if (Model.Transactions != null && Model.Transactions.Any())
  {
    totalCheckout = Model.Transactions.Where(t => t.Type == TypeEnum.Checkout && t.Method != MethodEnum.Give).Sum(t => t.Amount);
    totalRefund = Model.Transactions.Where(t => t.Type == TypeEnum.Refund).Sum(t => t.Amount) * -1;
    total = totalCheckout + totalRefund;
  }
}

<form method="get" class="mb-5">
  <div class="form-row">
    <div class="form-group col">
      <label asp-for="BeginDate"></label>
      <input asp-for="BeginDate" class="form-control" />
    </div>
    <div class="form-group col">
      <label asp-for="EndDate"></label>
      <input asp-for="EndDate" class="form-control" />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.Transactions != null && Model.Transactions.Any())
{
  <h3 class="mb-3">Result</h3>

  for (var i = 0; i < Model.Transactions.Count; i++)
  {
    TransactionModel t = Model.Transactions[i];

    <div class="row mt-3">
      <div class="col pr-0">
        <div class="border rounded bg-dark pl-1 mr-1 mb-1">
          @t.Created.ToShortDateString()
        </div>
      </div>
      <div class="col px-0">
        <div class="border rounded bg-dark pl-1 mr-1">
          (@t.Type.ToString() @t.Method.ToString()) @t.SaleId
        </div>
      </div>
      <div class="col pl-0">
        <div class="border rounded bg-dark pl-1">
          @{
            if (t.Type == TypeEnum.Refund)
            {
              @((t.Amount * -1).ToString("C2", dollar))
            }
            else
            {
              @t.Amount.ToString("C2", dollar)
            }
          }
        </div>
      </div>
    </div>
  }

  <h3 class="mt-5 mb-3">Summary</h3>
  <div style="max-width: 300px;">
    <div class="row">
      <div class="col">Transactions</div>
      <div class="col text-right">@Model.Transactions.Count()</div>
    </div>
    <div class="row">
      <div class="col">Checkout</div>
      <div class="col text-right">@totalCheckout.ToString("C2", dollar)</div>
    </div>
    <div class="row">
      <div class="col">Refund</div>
      <div class="col text-right">@totalRefund.ToString("C2", dollar)</div>
    </div>
    <div class="row">
      <div class="col">Total</div>
      <div class="col text-right">@total.ToString("C2", dollar)</div>
    </div>
  </div>
}
