@page
@model NewAgePOS.Pages.Report.TransactionHistoryModel
@{
  ViewData["Title"] = "Transaction History";
  float totalCheckout = 0, totalRefund = 0, total = 0;
  CultureInfo dollar = new CultureInfo("en-US");
  if (Model.Transactions != null && Model.Transactions.Any())
  {
    totalCheckout = Model.Transactions.Where(t => t.Type == TypeEnum.Checkout && t.Method != MethodEnum.Give).Sum(t => t.Amount);
    totalRefund = Model.Transactions.Where(t => t.Type == TypeEnum.Refund).Sum(t => t.Amount) * -1;
    total = totalCheckout + totalRefund;
  }
}

<h1 class="font-weight-bold text-center my-3">@ViewData["Title"]</h1>

<form method="get" class="mb-5">
  <div class="form-row">
    <div class="form-group col">
      <label asp-for="BeginDate"></label>
      <input asp-for="BeginDate" class="form-control" />
    </div>
    <div class="form-group col">
      <label asp-for="EndDate"></label>
      <input asp-for="EndDate" class="form-control" />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.Transactions != null && Model.Transactions.Any())
{
  <h3 class="mb-3">Result</h3>

  for (var i = 0; i < Model.Transactions.Count; i++)
  {
    TransactionModel t = Model.Transactions[i];

    <div class="form-row mt-3">
      <div class="col">
        <input value="@t.Created.ToShortDateString()" class="form-control" />
      </div>
      <div class="col">
        <input value="(@t.Type.ToString() @t.Method.ToString()) @t.SaleId" class="form-control" />
      </div>
      <div class="col">
        @{
          string amount = "";
          if (t.Type == TypeEnum.Refund)
          {
            amount = (t.Amount * -1).ToString("C2", dollar);
          }
          else
          {
            amount = t.Amount.ToString("C2", dollar);
          }
        }
        <input value="@amount" class="form-control" />
      </div>
    </div>
  }

  <h3 class="mt-5 mb-3">Summary</h3>
  <div style="max-width: 300px;">
    <div class="row">
      <div class="col">Transactions</div>
      <div class="col text-right">@Model.Transactions.Count()</div>
    </div>
    <div class="row">
      <div class="col">Checkout</div>
      <div class="col text-right">@totalCheckout.ToString("C2", dollar)</div>
    </div>
    <div class="row">
      <div class="col">Refund</div>
      <div class="col text-right">@totalRefund.ToString("C2", dollar)</div>
    </div>
    <div class="row">
      <div class="col">Total</div>
      <div class="col text-right">@total.ToString("C2", dollar)</div>
    </div>
  </div>
}
