@page
@model NewAgePOS.Pages.Report.TransactionHistoryModel
@{
  ViewData["Title"] = "Transaction History";
  float earning = 0;
}

<partial name="_HeaderPartial" model="0" />

<form method="get" class="mb-5">
  <div class="form-row">
    <div class="form-group col">
      <label asp-for="BeginDate"></label>
      <input asp-for="BeginDate" class="form-control" />
    </div>
    <div class="form-group col">
      <label asp-for="EndDate"></label>
      <input asp-for="EndDate" class="form-control" />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.Transactions != null && Model.Transactions.Any())
{
  List<TransactionModel> ts = Model.Transactions;

  for (var i = 0; i < ts.Count(); i++)
  {
    int multiplier = 1;

    if (ts[i].Type == TypeEnum.Checkout && ts[i].Method == MethodEnum.Cash)
    {
      earning += ts[i].Amount;
    }
    else if (ts[i].Type == TypeEnum.Refund && ts[i].Method == MethodEnum.Cash)
    {
      earning -= ts[i].Amount;
      multiplier = -1;
    }

    float amount = ts[i].Amount * multiplier;

    if (i == 0 || ts[i].SaleId != ts[i - 1].SaleId)
    {
      int msgCount = Model.MessagesCount[ts[i].SaleId];
      <div class="row justify-content-center mt-3">
        <div class="col-auto my-auto mx-0">
          <a class="btn btn-primary"
             asp-page="/Sale/Message"
             asp-route-saleId="@ts[i].SaleId">
            @if (msgCount > 0)
            {
              <i class="fas fa-envelope-open-text"></i> @msgCount
            }
            else
            {
              <i class="fas fa-envelope-open"></i> @msgCount
            }
          </a>
        </div>
        <div class="col-auto">
          <a class="h4"
             asp-page="/Sale/Detail"
             asp-route-saleId="@ts[i].SaleId">
            @ts[i].SaleId
          </a>
        </div>
      </div>
    }

    <div class="form-row">
      <div class="col pr-0">
        <input readonly value="@ts[i].Created.ToString("MM/dd hh:mm tt")" class="form-control" />
      </div>
      <div class="col px-0">
        <input readonly value="@ts[i].Type.ToString() @ts[i].Method.ToString()" class="form-control" />
      </div>
      <div class="col pl-0">
        <input readonly value="@amount.ToString("C2")" class="form-control" />
      </div>
    </div>
  }

  <div style="max-width: 350px; margin: auto;">
    <h4 class="mt-5 mb-3 text-center">Summary</h4>
    <div class="row">
      <div class="col">Sales</div>
      <div class="col text-right">@Model.MessagesCount.Count</div>
    </div>
    <div class="row">
      <div class="col">Cash Earning</div>
      <div class="col text-right">@earning.ToString("C2")</div>
    </div>
  </div>
}