@model NewAgePOS.ViewModels.Shared.PriceSummaryViewModel

<div class="mt-5" style="max-width: 325px; margin: auto;">
  <div class="row">
    <div class="col h4">Quantity</div>
    <div class="col h4 text-right">@Model.Quantity</div>
  </div>
  <div class="row">
    <div class="col h4">Subtotal</div>
    <div class="col h4 text-right">@Model.Subtotal.ToString("C2")</div>
  </div>
  @if (Model.Discount > 0)
  {
    <div class="row">
      <div class="col h4">Discount</div>
      <div class="col h4 text-right">@((Model.Discount * -1).ToString("C2"))</div>
    </div>
  }
  @if (Model.TradeInValue > 0)
  {
    <div class="row">
      <div class="col h4">Trade In</div>
      <div class="col h4 text-right">@((Model.TradeInValue * -1).ToString("C2"))</div>
    </div>
  }
  @if (Model.TaxPercent > 0)
  {
    <div class="row">
      <div class="col h4">Tax @Model.TaxPercent %</div>
      <div class="col h4 text-right">@Model.TaxAmount.ToString("C2")</div>
    </div>
  }
  <div class="row">
    <div class="col h4">Total</div>
    <div class="col h4 text-right">@Model.Total.ToString("C2")</div>
  </div>
  @if (Model.Paid > 0)
  {
    <div class="double-line"></div>

    <div class="row">
      <div class="col h4">Paid</div>
      <div class="col h4 text-right">@Model.Paid.ToString("C2")</div>
    </div>
  }
  @if (Model.DueBalance != Model.Total && Math.Round(Model.DueBalance, 2) > 0)
  {
    <div class="row">
      <div class="col h4">Due Balance</div>
      <div class="col h4 text-right">@Model.DueBalance.ToString("C2")</div>
    </div>
  }
  @if (Math.Round(Model.Change, 2) > 0)
  {
    <div class="double-line"></div>

    <div class="row">
      <div class="col h4">Change</div>
      <div class="col h4 text-right">@Model.Change.ToString("C2")</div>
    </div>
  }
  @if (Model.RefundedAmount > 0)
  {
    <div class="double-line"></div>

    <div class="row">
      <div class="col h4">Refunded</div>
      <div class="col h4 text-right">@Model.RefundedAmount.ToString("C2")</div>
    </div>
  }
  @if (Model.RefundingAmount > 0)
  {
    <div class="row">
      <div class="col h4">Refunding</div>
      <div class="col h4 text-right">@Model.RefundingAmount.ToString("C2")</div>
    </div>
  }
</div>

@if (Model.IsFromRefund)
{
  <div class="mt-5"></div>
  <h4 class="text-center">Refund Method</h4>
  <div class="row mb-2">
    <div class="col text-center">
      <a id="cashRefundBtn" 
         class="btn btn-primary" 
         onclick="confirm2Btns(this.id, 'giftCardRefundBtn')">Cash</a>
      <a id="giftCardRefundBtn" 
         class="btn btn-primary" 
         onclick="confirm2Btns(this.id, 'cashRefundBtn')">GC</a>
    </div>
  </div>

  <div id="cashRefund" style="display:none;">
    <form method="post" class="form-inline row justify-content-center"
          asp-page="/Sale/Refund"
          asp-page-handler="ApplyCashRefund"
          asp-route-saleId="@Model.SaleId"
          asp-route-amount="@Model.RefundingAmount">
      <div class="col-4 pr-0">
        <input value="Apply refund as cash?" class="form-control text-right" style="width: 100%" disabled />
      </div>
      <div class="col-auto px-0">
        <button type="submit" class="btn btn-success">
          <i class="fas fa-check-square"></i>
        </button>
      </div>
      <div class="col-auto pl-0">
        <a class="btn btn-danger" onclick="confirm('cashRefundBtn')">
          <i class="fas fa-window-close"></i>
        </a>
      </div>
    </form>
  </div>

  <div id="giftCardRefund" style="display:none;">
    <form method="post" class="form-inline row justify-content-center"
          asp-page="/Sale/Refund"
          asp-page-handler="ApplyGiftCardRefund"
          asp-route-saleId="@Model.SaleId"
          asp-route-amount="@Model.RefundingAmount">
      <div class="col-4 pr-0">
        <input name="giftCardCode" class="form-control" type="text" style="width: 100%" placeholder="Gift Card Code" />
      </div>
      <div class="col-auto px-0">
        <button type="submit" class="btn btn-success">
          <i class="fas fa-check-square"></i>
        </button>
      </div>
      <div class="col-auto pl-0">
        <a class="btn btn-danger" onclick="confirm('giftCardRefundBtn')">
          <i class="fas fa-window-close"></i>
        </a>
      </div>
    </form>
  </div>
}