@model NewAgePOS.ViewModels.Shared.PriceSummaryViewModel

<div class="mt-5" style="max-width: 340px; margin: auto;">
  <div class="row">
    <div class="col h4">Quantity</div>
    <div class="col h4 text-right">@Model.Quantity</div>
  </div>
  <div class="row">
    <div class="col h4">Subtotal</div>
    <div class="col h4 text-right">@Model.Subtotal.ToString("C2")</div>
  </div>
  @if (Model.DiscountAmount > 0)
  {
    <div class="row">
      <div class="col h4">Discount</div>
      <div class="col h4 text-right">@((Model.TotalDiscount * -1).ToString("C2"))</div>
    </div>
  }
  @if (Model.TradeInAmount > 0)
  {
    <div class="row">
      <div class="col h4">Trade In</div>
      <div class="col h4 text-right">@((Model.TradeInAmount * -1).ToString("C2"))</div>
    </div>
  }
  @if (Model.TaxPct > 0)
  {
    <div class="row">
      <div class="col h4">Tax @Model.TaxPct %</div>
      <div class="col h4 text-right">@Model.TaxAmt.ToString("C2")</div>
    </div>
  }
  <div class="row">
    <div class="col h4">Total</div>
    <div class="col h4 text-right">@Model.Total.ToString("C2")</div>
  </div>
  @if (Model.Paid > 0)
  {
    <div class="double-line"></div>

    <div class="row">
      <div class="col h4">Paid</div>
      <div class="col h4 text-right">@Model.Paid.ToString("C2")</div>
    </div>
  }
  @if (Model.Remaining != Model.Total && Model.Remaining > 0)
  {
    <div class="row">
      <div class="col h4">Remaining</div>
      <div class="col h4 text-right">@Model.Remaining.ToString("C2")</div>
    </div>
  }
  @if (Math.Round(Model.Change, 2) > 0)
  {
    <div class="double-line"></div>

    <div class="row">
      <div class="col h4">Change</div>
      <div class="col h4 text-right">@Model.Change.ToString("C2")</div>
    </div>
  }
  @if (Model.RefundedAmount > 0)
  {
    <div class="double-line"></div>

    <div class="row">
      <div class="col h4">Refunded</div>
      <div class="col h4 text-right">@Model.RefundedAmount.ToString("C2")</div>
    </div>
  }
  @if (Model.RefundingAmount > 0)
  {
    <div class="row">
      <div class="col h4">Refunding</div>
      <div class="col h4 text-right">@Model.RefundingAmount.ToString("C2")</div>
    </div>
  }
</div>