@page "{saleid:min(1)}"
@using NewAgePOS.ViewModels.Sale
@model NewAgePOS.Pages.CartModel
@{
  ViewData["Title"] = "Sales";
  CultureInfo dollar = new CultureInfo("en-US");
}

@if (TempData["Message"] != null)
{
  <div class="text-danger">@TempData["Message"]</div>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
  <div class="col">
    <form method="post">
      <h4>Products</h4>
      <div class="form-group">
        <textarea asp-for="Codes" class="form-control" rows="3" placeholder="SKUs or UPCs"></textarea>
      </div>
      <button asp-page-handler="AddProducts" type="submit" class="btn btn-primary">Add</button>
      <button asp-page-handler="RemoveProducts" type="submit" class="btn btn-danger">Remove</button>
    </form>
  </div>

  <div class="col">
    <form method="post">
      <h4>Gift Cards</h4>
      <div class="form-group mb-0">
        <textarea asp-for="GiftCardCodes" class="form-control" rows="2" placeholder="Gift card codes..."></textarea>
      </div>
      <div class="form-group">
        <input asp-for="GiftCardAmount" class="form-control" />
      </div>
      <button asp-page-handler="AddGiftCards" type="submit" class="btn btn-primary">Add</button>
      <button asp-page-handler="RemoveGiftCards" type="submit" class="btn btn-danger">Remove</button>
    </form>
  </div>
</div>

<h3 class="mt-5">ITEMS</h3>
@await Component.InvokeAsync("ItemList", new { saleId = Model.SaleId })
@await Component.InvokeAsync("SalePriceSummary", new { saleId = Model.SaleId })

<div class="container">
  <div class="row mt-3">
    @*<a asp-page="/Sale/Guest" asp-route-saleid="@Model.SaleId" class="btn btn-success">Proceed</a>*@
    <form method="post" asp-page="Search" asp-page-handler="Proceed" asp-route-saleid="@Model.SaleId" style="display: inline-block;">
      <button type="submit" class="btn btn-success">Proceed</button>
    </form>
    <form method="post" asp-page="Search" asp-page-handler="CancelSale" asp-route-saleid="@Model.SaleId" style="display: inline-block;">
      <button type="submit" class="btn btn-danger ml-1">Cancel Sale</button>
    </form>
  </div>
</div>
