@page "{saleid:min(1)}"
@model NewAgePOS.Pages.CartModel
@{
  ViewData["Title"] = "Sales";
  CultureInfo dollar = new CultureInfo("en-US");
}

@if (TempData["Message"] != null)
{
  <div class="text-danger">@TempData["Message"]</div>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
  <div class="col">
    <form method="post">
      <h4>Products</h4>
      <div class="form-group">
        <textarea asp-for="Codes" class="form-control" rows="3" placeholder="SKUs or UPCs"></textarea>
      </div>
      <button asp-page-handler="Add" type="submit" class="btn btn-primary">Add</button>
      <button asp-page-handler="Remove" type="submit" class="btn btn-danger">Remove</button>
    </form>
  </div>

  <div class="col">
    <form method="post">
      <h4>Gift Cards</h4>
      <div class="form-group mb-0">
        <textarea asp-for="GiftCardCodes" class="form-control" rows="2" placeholder="Gift card codes..."></textarea>
      </div>
      <div class="form-group">
        <input asp-for="GiftCardAmount" class="form-control" />
      </div>
      <button asp-page-handler="AddGiftCard" type="submit" class="btn btn-primary">Add</button>
      <button asp-page-handler="RemoveGiftCard" type="submit" class="btn btn-danger">Remove</button>
    </form>
  </div>
</div>

@if (Model.CartDiscs != null && Model.CartDiscs.Any())
{
  <h3 class="mt-5">PRODUCTS</h3>
  <form method="post" asp-page-handler="ApplyDiscount">
    @for (var i = 0; i < Model.CartDiscs.Count; i++)
    {
      if (i != 0)
      {
        <div class="mt-3"></div>
      }

      SaleLineModel saleLine = Model.SaleLines.FirstOrDefault(sl => sl.Id == Model.CartDiscs[i].SaleLineId);
      ProductModel product = Model.Products.FirstOrDefault(p => p.Id == saleLine.ProductId);
      GiftCardModel giftCard = Model.GiftCards.FirstOrDefault(g => g.Id == saleLine.GiftCardId);

      <input hidden asp-for="@Model.CartDiscs[i].SaleLineId" />
      if (product != null)
      {
        <div class="form-row">
          <div class="col pr-0">
            <input readonly value="@product.Sku" class="form-control" />
          </div>
          <div class="col pl-0">
            <input readonly value="@product.Upc" class="form-control" />
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input readonly value="@product.AllName" class="form-control" />
          </div>
        </div>
        <div class="form-row">
          <div class="col pr-0">
            <input readonly value="@saleLine.Cost.ToString("C2", dollar)" class="form-control" />
          </div>
          <div class="col px-0">
            <input readonly value="@saleLine.Price.ToString("C2", dollar)" class="form-control" />
          </div>
          <div class="col pl-0">
            <input readonly value="@saleLine.Qty" class="form-control" />
          </div>
        </div>
      }
      else
      {
        <div class="form-row">
          <div class="col pr-0">
            <input readonly value="@giftCard.Code" class="form-control" />
          </div>
          <div class="col px-0">
            <input readonly value="@saleLine.Price.ToString("C2", dollar)" class="form-control" />
          </div>
          <div class="col pl-0">
            <input readonly value="@saleLine.Qty" class="form-control" />
          </div>
        </div>
      }
      <div class="form-row">
        <label class="col-form-label ml-3" asp-for="@Model.CartDiscs[i].DiscPct"></label>
        <div class="col">
          <input asp-for="@Model.CartDiscs[i].DiscPct" class="form-control text-info font-weight-bold" />
        </div>
      </div>
    }
    <button type="submit" class="btn btn-primary mt-1">Apply</button>
  </form>

  @await Component.InvokeAsync("SalePriceSummary", new { saleLines = Model.SaleLines, taxPct = Model.TaxPct })
}

<div class="container">
  <div class="row mt-3">
    <a asp-page="/Sale/Guest" asp-route-saleid="@Model.SaleId" class="btn btn-success">Proceed</a>
    <form method="post" asp-page="Search" asp-page-handler="CancelSale" asp-route-saleid="@Model.SaleId" style="display: inline-block;">
      <button type="submit" class="btn btn-danger ml-1">Cancel Sale</button>
    </form>
  </div>
</div>
