@page "{saleid:min(1)}"
@model NewAgePOS.Pages.CartModel
@{
  ViewData["Title"] = "Sales";
  CultureInfo dollar = new CultureInfo("en-US");
}

<div class="row">
  <div class="col">
    <form method="post" asp-page-handler="Add">
      <h3>ADD</h3>
      <div class="form-group">
        <label asp-for="Codes"></label>
        <textarea asp-for="Codes" class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>

  <div class="col">
    <form method="post" asp-page-handler="Remove">
      <h3>REMOVE</h3>
      <div class="form-group" asp-page-handler="Remove">
        <label asp-for="Codes"></label>
        <textarea asp-for="Codes" class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Remove</button>
    </form>
  </div>
</div>

@if (TempData["Message"] != null)
{
  <div class="text-danger">@TempData["Message"]</div>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h3 class="mt-5">PRODUCTS</h3>
@if (Model.CartDiscs != null && Model.CartDiscs.Any())
{
  <form method="post" asp-page-handler="ApplyDiscount">
    @for (var i = 0; i < Model.CartDiscs.Count; i++)
    {
      if (i != 0)
      {
        <div class="mt-3"></div>
      }

      SaleLineModel saleLine = Model.SaleLines.FirstOrDefault(sl => sl.Id == Model.CartDiscs[i].SaleLineId);

      <input hidden asp-for="@Model.CartDiscs[i].SaleLineId" />
      <div class="form-row">
        <div class="col pr-0">
          <input readonly value="@saleLine.Sku" class="form-control" />
        </div>
        <div class="col pl-0">
          <input readonly value="@saleLine.Upc" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <input readonly value="@saleLine.AllName" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="col pr-0">
          <input readonly value="@saleLine.Cost.ToString("C2", dollar)" class="form-control" />
        </div>
        <div class="col px-0">
          <input readonly value="@saleLine.Price.ToString("C2", dollar)" class="form-control" />
        </div>
        <div class="col pl-0">
          <input readonly value="@saleLine.Qty" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="col pr-0">
          <div class="form-group">
            <label asp-for="@Model.CartDiscs[i].DiscAmt"></label>
            <input asp-for="@Model.CartDiscs[i].DiscAmt" class="form-control" />
          </div>
        </div>
        <div class="col pl-0">
          <div class="form-group">
            <label asp-for="@Model.CartDiscs[i].DiscPct"></label>
            <input asp-for="@Model.CartDiscs[i].DiscPct" class="form-control" />
          </div>
        </div>
      </div>
    }
    <button type="submit" class="btn btn-primary mt-3">Apply</button>
  </form>
}

@await Component.InvokeAsync("SalePriceSummary", new { saleLines = Model.SaleLines, taxPct = Model.TaxPct })

<div class="container">
  <div class="row mt-3">
    <a asp-page="/Sale/Guest" asp-route-saleid="@Model.SaleId" class="btn btn-success">Proceed</a>
    <form method="post" asp-page="Index" asp-page-handler="CancelSale" asp-route-saleid="SaleId" style="display: inline-block;">
      <button type="submit" class="btn btn-danger ml-1">Cancel Sale</button>
    </form>
  </div>
</div>