@page "{saleid:min(1)}"
@model NewAgePOS.Pages.Sale.CheckoutModel
@{
  ViewData["Title"] = "Checkout";
  CultureInfo dollar = new CultureInfo("en-US");
  float subtotal = Model.SaleLines.Sum(sl => sl.LineTotal);
  float discount = Model.SaleLines.Sum(sl => (sl.Qty * sl.DiscAmt) + (sl.Qty * (sl.Price * sl.DiscPct / 100f)));
  float tax = (subtotal - discount) * (Model.TaxPct / 100f);
  float total = subtotal - discount + tax;
}

<h3 class="mt-5">PRODUCTS</h3>
@foreach (var saleLine in Model.SaleLines)
{
  float priceAfterDisc = (saleLine.Price - saleLine.DiscAmt) * (1 - saleLine.DiscPct / 100f);

  @if (saleLine != Model.SaleLines.First())
  {
    <div class="mt-3"></div>
  }

  <div class="row">
    <div class="col">
      <div class="border border-dark rounded bg-dark p-1">@saleLine.AllName</div>
    </div>
  </div>
  <div class="row">
    <div class="col pr-0">
      <div class="border border-dark rounded bg-dark p-1">
        @if (saleLine.Price == priceAfterDisc)
        {
          @saleLine.Price.ToString("C2", dollar)
        }
        else
        {
          <span class="small"><s>@saleLine.Price.ToString("C2", dollar)</s></span>
          <span>@priceAfterDisc.ToString("C2", dollar)</span>
        }
      </div>
    </div>
    <div class="col pl-0">
      <div class="border border-dark rounded bg-dark p-1">
        @saleLine.Qty
      </div>
    </div>
  </div>
}

<h3 class="mt-5">CUSTOMER INFO</h3>
@if (Model.Customer.EmailAddress == "guest@email.com")
{
  <h4>Guest Account</h4>
}
else
{
  <div class="row">
    <div class="col rounded border border-dark p-1 bg-dark m-1">
      @Model.Customer.FirstName
    </div>
    <div class="col rounded border border-dark p-1 bg-dark m-1">
      @Model.Customer.LastName
    </div>
  </div>
  <div class="row">
    <div class="col rounded border border-dark p-1 bg-dark m-1">
      @Model.Customer.EmailAddress
    </div>
    <div class="col rounded border border-dark p-1 bg-dark m-1">
      @Model.Customer.PhoneNumber
    </div>
  </div>
}

<h3 class="mt-5">PAYMENT</h3>
<form method="post">
  <div class="form-group">
    <label asp-for="@Model.Transaction.PaymentType"></label>
    <select asp-for="@Model.Transaction.PaymentType" class="form-control">
      <option>Choose...</option>
      <option selected>Cash</option>
      <option>Credit Card</option>
    </select>
  </div>
  <div class="form-group">
    <label asp-for="@Model.Transaction.Amount"></label>
    <input asp-for="@Model.Transaction.Amount" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="@Model.Transaction.Message"></label>
    <textarea asp-for="@Model.Transaction.Message" rows="2" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Complete</button>
</form>

<div class="mt-5" style="max-width: 425px;">
  <div class="row">
    <div class="col-4 h4">Subtotal</div>
    <div class="col-5 h4 text-right">@subtotal.ToString("C2", dollar)</div>
  </div>
  <div class="row">
    <div class="col-4 h4">Discount</div>
    <div class="col-5 h4 text-right">@discount.ToString("C2", dollar)</div>
  </div>
  <div class="row">
    <div class="col-4 h4">Tax @Model.TaxPct %</div>
    <div class="col-5 h4 text-right">@tax.ToString("C2", dollar)</div>
  </div>
  <div class="row">
    <div class="col-4 h4">Total</div>
    <div class="col-5 h4 text-right">@total.ToString("C2", dollar)</div>
  </div>
</div>