@page "{saleid:min(1)}"
@model NewAgePOS.Pages.Sale.GuestModel
@{
  ViewData["Title"] = "Checkout";
}

<form method="post">
  <h3 class="mt-5">CUSTOMER INFO</h3>
  <div class="form-row">
    <input hidden asp-for="@Model.Customer.Id" />
    <div class="form-group col">
      <label asp-for="@Model.Customer.FirstName"></label>
      <input asp-for="@Model.Customer.FirstName" class="form-control">
      <span asp-validation-for="@Model.Customer.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group col">
      <label asp-for="@Model.Customer.LastName"></label>
      <input asp-for="@Model.Customer.LastName" class="form-control">
      <span asp-validation-for="@Model.Customer.LastName" class="text-danger"></span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label asp-for="@Model.Customer.EmailAddress"></label>
      <input asp-for="@Model.Customer.EmailAddress" class="form-control">
      <span asp-validation-for="@Model.Customer.EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group col">
      <label asp-for="@Model.Customer.PhoneNumber"></label>
      <input asp-for="@Model.Customer.PhoneNumber" class="form-control">
      <span asp-validation-for="@Model.Customer.PhoneNumber" class="text-danger"></span>
    </div>
  </div>

  @if (TempData["Message"] != null)
  {
    <div class="text-info">@TempData["Message"]</div>
  }
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  <button asp-page-handler="UseInput" type="submit" class="btn btn-primary m-1">Submit New Customer</button>
  @if (Model.Customer != null)
  {
    <button asp-page-handler="Edit" type="submit" class="btn btn-primary m-1">Edit Customer</button>
  }
  @if (Model.Customer == null)
  {
    <a asp-page="/Sale/Checkout" asp-route-saleid="@Model.SaleId" class="btn btn-primary m-1">Use Guest</a>
  }
</form>

<a asp-page="/Sale/Checkout" asp-route-saleid="@Model.SaleId" class="btn btn-primary m-1">Proceed to Checkout</a>