@page "{saleid:min(1)}"
@model NewAgePOS.Pages.Sale.GuestModel
@{
  ViewData["Title"] = "Checkout";
}

<form method="post">
  <h3 class="mt-5">CUSTOMER INFO</h3>
  <div class="form-group">
    <label asp-for="@Model.Customer.FirstName"></label>
    <input asp-for="@Model.Customer.FirstName" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="@Model.Customer.LastName"></label>
    <input asp-for="@Model.Customer.LastName" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="@Model.Customer.EmailAddress"></label>
    <input asp-for="@Model.Customer.EmailAddress" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="@Model.Customer.PhoneNumber"></label>
    <input asp-for="@Model.Customer.PhoneNumber" class="form-control">
  </div>

  <button asp-page-handler="UseInput" type="submit" class="btn btn-primary">Change</button>
  <a asp-page="/Sale/Checkout" asp-route-saleid="@Model.SaleId" class="btn btn-primary">Use Guest</a>
</form>

<a asp-page="/Sale/Checkout" asp-route-saleid="@Model.SaleId" class="btn btn-primary">Proceed</a>