@page
@model NewAgePOS.Pages.Sale.IndexModel
@{
  ViewData["Title"] = "Search";
}

<form method="get">
  <div class="form-row">
    <div class="col">
      <label asp-for="SaleId"></label>
      <input asp-for="SaleId" class="form-control" />
      <span asp-validation-for="SaleId" class="text-danger"></span>
    </div>
    <div class="col">
      <label asp-for="LastName"></label>
      <input asp-for="LastName" class="form-control" />
      <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label asp-for="EmailAddress"></label>
      <input asp-for="EmailAddress" class="form-control" />
      <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="col">
      <label asp-for="PhoneNumber"></label>
      <input asp-for="PhoneNumber" class="form-control" />
      <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-1">Search</button>
</form>

@if (Model.Results != null)
{
  <h3 class="mt-5">Results</h3>
  @if (TempData["Message"] != null)
  {
    <div class="text-danger">@TempData["Message"]</div>
  }

  <div class="container">
    @foreach (var result in Model.Results)
    {
      if (result != Model.Results.First())
      {
        <div class="mt-3"></div>
      }

      <div class="row">
        <div class="col-5 border rounded bg-dark">@result.Created.ToString("yyyy/MM/dd")</div>
        <div class="col-2 border rounded bg-dark">@result.SaleId</div>
        <div class="col-5 border rounded bg-dark">@result.PhoneNumber</div>
      </div>
      <div class="row">
        <div class="col-6 border rounded bg-dark">@result.FullName</div>
        <div class="col-6 border rounded bg-dark">@result.EmailAddress</div>
      </div>
      <div class="row">

        @if (result.IsComplete)
        {
          <a asp-page="/Sale/Refund" asp-route-saleid="@result.SaleId" class="btn btn-warning mt-1">Refund</a>
        }
        else
        {
          <a asp-page="/Sale/Cart" asp-route-saleid="@result.SaleId" class="btn btn-success mt-1">Continue</a>

          <form asp-page-handler="CancelSale" asp-route-saleid="@result.SaleId">
            <button type="submit" class="btn btn-danger ml-1 mt-1">Cancel Sale</button>
          </form>
        }
      </div>
    }
  </div>
}