@page "{saleId:min(1)}"
@model NewAgePOS.Pages.Sale.ReceiptModel
@{
  ViewData["Title"] = "Receipt";
  float subtotal = Model.SaleLines.Sum(sl => sl.LineTotal);
  float discount = Model.SaleLines.Sum(sl => (sl.Qty * sl.DiscAmt) + (sl.Qty * (sl.Price * sl.DiscPct / 100)));
  float tax = (subtotal - discount) * (Model.TaxPct / 100);
  float total = subtotal - discount + tax;
  float change = Model.Transactions.First().Amount - total;
}

<div class="container" style="max-width:250px;">
  <div class="row">
    <div class="col m-1 text-center">@Model.SaleId</div>
  </div>
  <div class="row">
    <div class="col m-1 text-center">@Model.Sale.Created.ToString("yyyy/MM/dd")</div>
  </div>
  <div class="row">
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1">Total Qty</div>
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1">@Model.SaleLines.Sum(s => s.Qty)</div>
  </div>
  <div class="row">
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1">Subtotal</div>
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1 text-right">@subtotal.ToString("C2")</div>
  </div>
  <div class="row">
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1">Discount</div>
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1 text-right">@discount.ToString("C2")</div>
  </div>
  <div class="row">
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1">Tax @Model.TaxPct.ToString("P2")</div>
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1 text-right">@tax.ToString("C2")</div>
  </div>
  <div class="row">
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1">Total</div>
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1 text-right">@total.ToString("C2")</div>
  </div>
  <div class="row">
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1">@Model.Transactions.First().PaymentType</div>
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1 text-right">@Model.Transactions.First().Amount.ToString("C2")</div>
  </div>
  <div class="row">
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1">Change</div>
    <div class="col h6 border border-dark rounded p-1 bg-dark m-1 text-right">@change.ToString("C2")</div>
  </div>
</div>