@page "/{IdType:alpha}/Receipt/{Id:min(1)}"
@model NewAgePOS.Pages.Sale.ReceiptModel
@{
  ViewData["Title"] = "Receipt";
  string idType = Model.IdType.ToLower() == "sale" ? "Sales" : Model.IdType;
  string receiptName = idType.Substring(0, 1).ToUpper() + idType.Substring(1, idType.Length - 1) + " Receipt";
}

<div style="max-width: 350px; margin: auto;">
  <div class="text-center">
    <img src="~/images/Golfio_Logo.png" />
  </div>
  <div class="my-3">
    <p class="text-center m-0">19950 E Walnut Dr. N</p>
    <p class="text-center m-0">Walnut, CA 91789</p>
    <p class="text-center m-0">909-460-8788</p>
  </div>
  <div>
    <h4 class="text-center">@receiptName</h4>
  </div>
  <div>
    <p class="text-center m-0 mb-3">@Model.Id</p>
    <p class="text-center m-0">@Model.Created</p>
  </div>

  @if (Model.IdType == "sale")
  {
    @await Component.InvokeAsync("PriceSummary", new { saleId = Model.Id })
  }
  else
  {
    <div class="mt-3">
      <div class="row">
        <div class="col h4">Quantity</div>
        <div class="col h4 text-right">@Model.RefundItems</div>
      </div>
      <div class="row">
        <div class="col h4">Amount</div>
        <div class="col h4 text-right">@Model.RefundTotal</div>
      </div>

      <div class="border-top border-bottom border-dark m-1" style="height: 10px"></div>

      <div class="row">
        <div class="col h4">Method</div>
        <div class="col h4 text-right">@Model.RefundMethod</div>
      </div>
    </div>
  }

  <div class="my-5">
    @if (Model.IdType == "sale")
    {
      <p class="text-center">
        In order to be eligible for a refund or exchange, you must return the product within 14 calendar days of your purchase with a valid receipt.<br />
        The product must be in the same condition that you received it.<br />
        All clearance items are final sale.<br />
        Any used golf clubs are subject to trade-in value.<br />
        Gift cards/store credit cannot be replaced if lost or stolen.<br />
        Please retain a copy of this receipt for store credit.<br />
        Store credit will expire after two years from date of issue.
      </p>
    }

    @if (string.IsNullOrEmpty(Model.FullName))
    {
      <p class="text-center">Thank you!</p>
    }
    else
    {
      <p class="text-center">Thank you @Model.FullName!</p>
    }
  </div>
</div>
<div class="hideInPrint text-center">
  <button class="btn btn-primary" onclick="printReceipt()">Print Recept</button>
</div>


<div id="receipt" style="display: none;">
  <div class="text-centered">
    <img src="~/images/Golfio_Logo.png" />
  </div>
  <div class="mt-20">
    <p class="text-centered m-0">19950 E Walnut Dr. N</p>
    <p class="text-centered m-0">Walnut, CA 91789</p>
    <p class="text-centered m-0">909-460-8788</p>
  </div>
  <div>
    <h4 class="text-centered m-0 mt-20">@receiptName</h4>
    <p class="text-centered m-0">#@Model.Id</p>
    <p class="text-centered mt-20">@Model.Created</p>
  </div>

  @if (Model.IdType == "sale")
  {
    <div class="mt-20">
      @await Component.InvokeAsync("PriceSummary", new { saleId = Model.Id })
    </div>
  }
  else
  {
    <table class="mt-20">
      <tr>
        <td>Quantity</td>
        <td>@Model.RefundItems</td>
      </tr>
      <tr>
        <td>Amount</td>
        <td>@Model.RefundTotal</td>
      </tr>

      <tr class="double-line"></tr>

      <tr>
        <td>Method</td>
        <td>@Model.RefundMethod</td>
      </tr>
    </table>
  }

  <div class="mt-50">
    @if (Model.IdType == "sale")
    {
      <p class="text-centered">
        In order to be eligible for a refund or exchange, you must return the product within 14 calendar days of your purchase with a valid receipt.<br />
        The product must be in the same condition that you received it.<br />
        All clearance items are final sale.<br />
        Any used golf clubs are subject to trade-in value.<br />
        Gift cards/store credit cannot be replaced if lost or stolen.<br />
        Please retain a copy of this receipt for store credit.<br />
        Store credit will expire after two years from date of issue.
      </p>
    }

    @if (string.IsNullOrEmpty(Model.FullName))
    {
      <p class="text-centered">Thank you!</p>
    }
    else
    {
      <p class="text-centered">Thank you @Model.FullName!</p>
    }
  </div>
</div>

@section Scripts{
  <script>
    function printReceipt() {
      var receipt = document.getElementById('receipt');
      var content = receipt.innerHTML;

      var myWindow = window.open('', 'Receipt', 'height=800,width=800');
      myWindow.document.write('<html><head><title>Receipt</title>');
      myWindow.document.write('<link rel="stylesheet" href="/css/receipt.css" type="text/css" />');
      myWindow.document.write('</head><body>');
      myWindow.document.write(content);
      myWindow.document.write('</body></html>');
    }
  </script>
}