@page "{saleId:min(1)}"
@model NewAgePOS.Pages.Sale.ReceiptModel
@{
  ViewData["Title"] = "Receipt";
  CultureInfo dollar = new CultureInfo("en-US");
}

@if (TempData["Message"] != null)
{
  <div class="mt-5 text-danger hideInPrint" style="white-space: pre-wrap;">@TempData["Message"]</div>
}

<div class="container" style="max-width: 300px;">
  <div class="form-group row">
    <input readonly asp-for="SaleId" class="form-control  text-center" />
  </div>
  <div class="form-group row">
    <input readonly asp-for="Created" class="form-control text-center" />
  </div>
  <div class="form-group row">
    <label asp-for="TotalQty" class="col col-form-label"></label>
    <div class="col">
      <input readonly asp-for="TotalQty" class="form-control text-right" />
    </div>
  </div>
  <div class="form-group row">
    <label asp-for="Subtotal" class="col col-form-label"></label>
    <div class="col">
      <input readonly value="@Model.Subtotal.ToString("C2", dollar)" class="form-control text-right" />
    </div>
  </div>
  <div class="form-group row">
    <label asp-for="Discount" class="col col-form-label"></label>
    <div class="col">
      <input readonly value="@Model.Discount.ToString("C2", dollar)" class="form-control text-right" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col col-form-label">Tax @Model.TaxPct %</label>
    <div class="col">
      <input readonly value="@Model.Tax.ToString("C2", dollar)" class="form-control text-right" />
    </div>
  </div>
  <div class="form-group row">
    <label asp-for="Total" class="col col-form-label"></label>
    <div class="col">
      <input readonly value="@Model.Total.ToString("C2", dollar)" class="form-control text-right" />
    </div>
  </div>
  @foreach (var transaction in Model.Transactions)
  {
    <div class="form-group row">
      <label class="col col-form-label">@transaction.PaymentType</label>
      <div class="col">
        <input readonly value="@transaction.Amount.ToString("C2", dollar)" class="form-control text-right" />
      </div>
    </div>
  }
  <div class="form-group row">
    <label asp-for="Change" class="col col-form-label"></label>
    <div class="col">
      <input readonly value="@Model.Change.ToString("C2", dollar)" class="form-control text-right" />
    </div>
  </div>
</div>

@section Scripts{
  <style media="print">
    .hideInPrint {
      display: none;
    }
  </style>
}
