@page "{saleid:min(1)}"
@model NewAgePOS.Pages.Sale.RefundModel
@{
  ViewData["Title"] = "Refund";
}

<form method="post">
  <h3 class="mt-5">PRODUCTS</h3>
  @for (var i = 0; i < Model.SaleLines.Count; i++)
  {
    if (i != 0)
    {
      <div class="mt-5"></div>
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" });
    <input hidden readonly asp-for="@Model.SaleLines[i].Id" />
    <div class="form-row">
      <div class="col">
        <input readonly asp-for="@Model.SaleLines[i].Sku" class="form-control">
      </div>
      <div class="col">
        <input readonly asp-for="@Model.SaleLines[i].Upc" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <input readonly asp-for="@Model.SaleLines[i].AllName" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label asp-for="@Model.SaleLines[i].Cost"></label>
        <input hidden asp-for="@Model.SaleLines[i].Cost" class="form-control">
        <input readonly value="@Model.SaleLines[i].Cost.ToString("C2")" class="form-control">
      </div>
      <div class="col">
        <label asp-for="@Model.SaleLines[i].Price"></label>
        <input hidden asp-for="@Model.SaleLines[i].Price" class="form-control">
        <input readonly value="@Model.SaleLines[i].Price.ToString("C2")" class="form-control">
      </div>
      <div class="col">
        <label asp-for="@Model.SaleLines[i].Qty"></label>
        <input readonly asp-for="@Model.SaleLines[i].Qty" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label asp-for="@Model.SaleLines[i].DiscAmt"></label>
        <input hidden asp-for="@Model.SaleLines[i].DiscAmt" class="form-control">
        <input readonly value="@Model.SaleLines[i].DiscAmt.ToString("C2")" class="form-control">
      </div>
      <div class="col">
        <label asp-for="@Model.SaleLines[i].DiscPct"></label>
        <input hidden asp-for="@Model.SaleLines[i].DiscPct" class="form-control">
        <input readonly value="@Model.SaleLines[i].DiscPct.ToString("P2")" class="form-control">
      </div>
      <div class="col">
        <label asp-for="@Model.SaleLines[i].LineTotal"></label>
        <input hidden asp-for="@Model.SaleLines[i].LineTotal" class="form-control">
        <input readonly value="@Model.SaleLines[i].LineTotal.ToString("C2")" class="form-control">
      </div>
    </div>
    @if (Model.SaleLines[i].Qty > 0)
    {
      <div class="form-row">
        <div class="col">
          <label asp-for="@Model.SaleLines[i].RefundQty"></label>
          <input asp-for="@Model.SaleLines[i].RefundQty" class="form-control">
        </div>
      </div>
    }
    else
    {
      <div class="form-row">
        <div class="col">
          <label asp-for="@Model.SaleLines[i].RefundQty"></label>
          <input value="Fully Refunded" class="form-control text-info">
        </div>
      </div>
    }
  }

  <div class="form-row">
    <div class="col">
      <label asp-for="@Model.Message"></label>
      <textarea asp-for="@Model.Message" class="form-control" rows="2"></textarea>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Refund</button>
</form>