@page "{saleid:min(1)}"
@model NewAgePOS.Pages.Sale.RefundModel
@{
  ViewData["Title"] = "Sales Refund";
}

<h1 class="font-weight-bold text-center my-3">@ViewData["Title"]</h1>

@if (TempData["Message"] != null)
{
  <div class="text-danger">@TempData["Message"]</div>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
  <div class="col-6">
    <form method="post">
      <h4 class="mt-5 text-center">Refund</h4>
      <div class="form-group">
        <label asp-for="Codes"></label>
        <textarea asp-for="Codes" class="form-control" rows="3"></textarea>
      </div>
      <button asp-page-handler="Add" type="submit" class="btn btn-primary">Add</button>
      <button asp-page-handler="Remove" type="submit" class="btn btn-warning">Remove</button>
    </form>
  </div>
</div>

@await Component.InvokeAsync("ItemList", new { saleId = Model.SaleId })

@await Component.InvokeAsync("PriceSummary", new { saleId = Model.SaleId })

<form method="post">
  <div class="form-row mt-1">
    <div class="col-6">
      <select id="RefundMethod" asp-for="@Model.RefundMethod" asp-items="@Model.RefundMethods" class="form-control" onchange="refundMethod('GiftCardCodeInputBox')">
        <option value="">Choose method</option>
      </select>
    </div>
    <div id="GiftCardCodeInputBox" class="col" style="display: none;">
      <input asp-for="@Model.GiftCardCode" class="form-control" placeholder="Scan Gift Card Code Here" />
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-1">Submit Refund</button>
</form>

<h4 class="mt-5 text-center">Messages</h4>
@await Component.InvokeAsync("Messages", new { saleId = Model.SaleId })

@section Scripts{
  <script src="~/js/site.js" asp-append-version="true"></script>
}