@page "{saleid:min(1)}"
@model NewAgePOS.Pages.Sale.RefundModel
@{
  ViewData["Title"] = "Refund";
  CultureInfo dollar = new CultureInfo("en-US");
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h3 class="mt-5">PRODUCTS</h3>
<form method="post">
  @for (var i = 0; i < Model.Refunds.Count; i++)
  {
    if (i != 0)
    {
      <div class="mt-3"></div>
    }


    SaleLineModel saleLine = Model.SaleLines.FirstOrDefault(sl => sl.Id == Model.Refunds[i].SaleLineId);

    <input hidden readonly value="@Model.Refunds[i].SaleLineId" />
    <div class="form-row">
      <div class="col pr-0">
        <input readonly value="@saleLine.Sku" class="form-control">
      </div>
      <div class="col pl-0">
        <input readonly value="@saleLine.Upc" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <input readonly value="@saleLine.AllName" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col pr-0">
        <input readonly value="@saleLine.Cost.ToString("C2", dollar)" class="form-control">
      </div>
      <div class="col px-0">
        <input readonly value="@saleLine.Price.ToString("C2", dollar)" class="form-control">
      </div>
      <div class="col pl-0">
        <input readonly value="@saleLine.Qty" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <input readonly value="@saleLine.DiscPct" class="form-control">
      </div>
    </div>
    @if (saleLine.Qty > 0)
    {
      <div class="form-row">
        <div class="col">
          <label asp-for="@Model.Refunds[i].RefundQty"></label>
          <input asp-for="@Model.Refunds[i].RefundQty" class="form-control">
        </div>
      </div>
    }
    else
    {
      <div class="form-row">
        <div class="col">
          <label asp-for="@Model.Refunds[i].RefundQty"></label>
          <input disabled value="Fully Refunded" class="form-control text-info">
        </div>
      </div>
    }
  }

  <div class="form-row mt-3">
    <div class="col">
      <label asp-for="@Model.Message"></label>
      <textarea asp-for="@Model.Message" class="form-control" rows="2"></textarea>
    </div>
  </div>

  <button type="submit" class="btn btn-warning mt-1">Refund</button>
</form>