@page
@using NewAgePOS.Utilities
@model NewAgePOS.Pages.Sale.SearchModel
@{
  ViewData["Title"] = "Sales Search";
}

<partial name="_HeaderPartial" model="0" />

@if (TempData["Message"] != null)
{
  <div class="text-danger mt-3 text-center">@TempData["Message"]</div>
}

<form method="get" class="mb-5">
  <div class="form-row">
    <div class="col">
      <select asp-for="SearchMethod" asp-items="Model.SearchMethods" class="form-control" onchange='searchQueryMsg("searchQueryMsg")'>
        <option value="">---Choose Method---</option>
      </select>
    </div>
    <div class="col">
      <input asp-for="SearchQuery" class="form-control" />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="submit" class="btn btn-primary mt-1">Search</button>
      <a class="btn btn-primary mt-1" asp-page-handler="GetPendingSales" data-toggle="tooltip" data-placement="bottom" title="Pending Sales">
        <i class="fas fa-spinner"></i>
      </a>
    </div>
    <div class="col">
      <span id="searchQueryMsg" class="small text-info"></span>
    </div>
  </div>
</form>

@if (Model.Results != null)
{
  @if (Model.Results.Any())
  {
    @foreach (var result in Model.Results)
    {
      if (result != Model.Results.First())
      {
        <div class="mt-3"></div>
      }

      <div class="form-row">
        <div class="col-5 pr-0">
          <input readonly class="form-control" value="@result.Created.ToString("yyyy/MM/dd")" />
        </div>
        <div class="col-2 px-0">
          <input readonly class="form-control" value="@result.SaleId" />
        </div>
        <div class="col-5 pl-0">
          <input readonly class="form-control" value="@result.PhoneNumber" />
        </div>
      </div>
      <div class="form-row">
        <div class="col-6 pr-0">
          <input readonly class="form-control" value="@result.FullName" />
        </div>
        <div class="col-6 pl-0">
          <input readonly class="form-control" value="@result.EmailAddress" />
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <a class="btn btn-primary mt-1"
             asp-page="/Sale/Message"
             asp-route-saleId="@result.SaleId">
            @if (result.MessageCount > 0)
            {
              <i class="fas fa-envelope-open-text"></i> @result.MessageCount
            }
            else
            {
              <i class="fas fa-envelope-open"></i> @result.MessageCount
            }
          </a>

          @if (result.IsComplete)
          {
            <a class="btn btn-danger mt-1"
               asp-page="/Sale/Refund"
               asp-route-saleid="@result.SaleId">Refund</a>

            <a class="btn btn-primary mt-1"
               asp-page="Receipt"
               asp-route-id="@result.SaleId"
               asp-route-idtype="Sale">Receipt</a>
          }
          else
          {
            <a class="btn btn-success mt-1"
               asp-page="/Sale/Cart"
               asp-route-saleid="@result.SaleId">Continue</a>

            <form method="post" style="display:inline-block;"
                  asp-page-handler="CancelSale"
                  asp-route-saleid="@result.SaleId">
              <button type="submit" class="btn btn-danger mt-1">Cancel Sale</button>
            </form>
          }
        </div>
      </div>
    }
  }
  else
  {
    <div class="form-row">
      <div class="col text-info text-center">No Results</div>
    </div>
  }
}

@section Scripts{
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  <script src="~/js/site.js" asp-append-version="true"></script>
}
