@page
@using NewAgePOS.Utilities
@model NewAgePOS.Pages.Sale.SearchModel
@{
  ViewData["Title"] = "Sales Search";
}

<h1 class="font-weight-bold text-center my-3">@ViewData["Title"]</h1>

@if (TempData["Message"] != null)
{
  <div class="text-danger mt-3 text-center">@TempData["Message"]</div>
}

<form method="get">
  <div class="form-row">
    <div class="col">
      <select asp-for="SearchMethod" asp-items="Model.SearchMethods" class="form-control" onchange='searchQueryMsg("searchQueryMsg")'>
        <option value="">---Choose Method---</option>
      </select>
    </div>
    <div class="col">
      <input asp-for="SearchQuery" class="form-control" />
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button type="submit" class="btn btn-primary mt-1">Search</button>
    </div>
    <div class="col">
      <span id="searchQueryMsg" class="small text-info"></span>
    </div>
  </div>
</form>

@if (Model.Results != null)
{
  <h4 class="mt-5 mb-3 text-center">Results</h4>

  <div class="container">
    @if (Model.Results.Any())
    {
      @foreach (var result in Model.Results)
      {
        if (result != Model.Results.First())
        {
          <div class="mt-3"></div>
        }

        <div class="row">
          <input readonly class="col-5 form-control" value="@result.Created.ToString("yyyy/MM/dd")" />
          <input readonly class="col-2 form-control" value="@result.SaleId" />
          <input readonly class="col-5 form-control" value="@result.PhoneNumber" />
        </div>
        <div class="row">
          <input readonly class="col-6 form-control" value="@result.FullName" />
          <input readonly class="col-6 form-control" value="@result.EmailAddress" />
        </div>
        <div class="row">

          @if (result.IsComplete)
          {
            <a asp-page="/Sale/Refund" asp-route-saleid="@result.SaleId" class="btn btn-warning mt-1">Refund</a>
            <a asp-page="Receipt" asp-route-id="@result.SaleId" asp-route-idtype="Sale" class="btn btn-primary mt-1 ml-1">Receipt</a>
          }
          else
          {
            <a asp-page="/Sale/Cart" asp-route-saleid="@result.SaleId" class="btn btn-success mt-1">Continue</a>

            <form asp-page-handler="CancelSale" asp-route-saleid="@result.SaleId">
              <button type="submit" class="btn btn-danger ml-1 mt-1">Cancel Sale</button>
            </form>
          }
        </div>
      }
    }
    else
    {
      <div class="row">
        <div class="col text-info">No Results</div>
      </div>
    }
  </div>
}

@section Scripts{
  <script src="~/js/site.js" asp-append-version="true"></script>
}