@page
@model NewAgePOS.Pages.Product.CreateModel
@{
  ViewData["Title"] = "Add Product";
}

@if (TempData["Message"] != null)
{
  <div class="text-info">@TempData["Message"]</div>
}
<form method="post">
  @Html.ValidationSummary(true, "", new { @class = "text-danger h4" })
  <div class="form-row">
    <div class="form-group col mb-1">
      <label asp-for="Sku"></label>
      <input asp-for="Sku" class="form-control" />
      <span asp-validation-for="Sku" class="text-danger"></span>
    </div>
    <div class="form-group col mb-1">
      <label asp-for="Upc"></label>
      <input asp-for="Upc" class="form-control" />
      <span asp-validation-for="Upc" class="text-danger"></span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col mb-1">
      <label asp-for="Cost"></label>
      <input asp-for="Cost" class="form-control" />
      <span asp-validation-for="Cost" class="text-danger"></span>
    </div>
    <div class="form-group col mb-1">
      <label asp-for="Price"></label>
      <input asp-for="Price" class="form-control" />
      <span asp-validation-for="Price" class="text-danger"></span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col mb-1">
      <label asp-for="AllName"></label>
      <input asp-for="AllName" class="form-control" />
      <span asp-validation-for="AllName" class="text-danger"></span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if (Model.ProductFromDb != null)
{
  <h3 class="mt-5">Found in DB</h3>
  <div class="row">
    <div class="col mb-1 border rounded bg-dark">
      @Model.ProductFromDb.Sku
    </div>
    <div class="col mb-1 border rounded bg-dark">
      @Model.ProductFromDb.Upc
    </div>
  </div>
  <div class="row">
    <div class="col mb-1 border rounded bg-dark">
      @Model.ProductFromDb.Cost.ToString("C2")
    </div>
    <div class="col mb-1 border rounded bg-dark">
      @Model.ProductFromDb.Price.ToString("C2")
    </div>
    <div class="col mb-1 border rounded bg-dark">
      @Model.ProductFromDb.Created.ToString("yyyy/MM/dd")
    </div>
  </div>
  <div class="row">
    <div class="col mb-1 border rounded bg-dark">
      @Model.ProductFromDb.AllName
    </div>
  </div>
}