@page
@model NewAgePOS.Pages.Account.RegisterModel
@{
  ViewData["Title"] = "Register";
}

@Html.ValidationSummary(true, "", new { @class="text-danger" })

<form method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="@Model.RegisterVM.FirstName"></label>
      <input asp-for="@Model.RegisterVM.FirstName" class="form-control" placeholder="First Name">
      <span asp-validation-for="@Model.RegisterVM.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="@Model.RegisterVM.LastName"></label>
      <input asp-for="@Model.RegisterVM.LastName" class="form-control" placeholder="Last Name">
      <span asp-validation-for="@Model.RegisterVM.LastName" class="text-danger"></span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="@Model.RegisterVM.EmailAddress"></label>
      <input asp-for="@Model.RegisterVM.EmailAddress" class="form-control" placeholder="Email Address">
      <span asp-validation-for="@Model.RegisterVM.EmailAddress" class="text-danger"></span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="@Model.RegisterVM.Password"></label>
      <input asp-for="@Model.RegisterVM.Password" class="form-control" placeholder="Email">
      <span class="form-text text-primary small">
        Min 6 characters. Must include lower, upper, number, and special character
      </span>
      <span asp-validation-for="@Model.RegisterVM.Password" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="@Model.RegisterVM.ConfirmPassword"></label>
      <input asp-for="@Model.RegisterVM.ConfirmPassword" class="form-control" placeholder="Password">
      <span asp-validation-for="@Model.RegisterVM.ConfirmPassword" class="text-danger"></span>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <a asp-page="Login" class="btn btn-secondary ml-3">Login</a>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}